.card-status {
    border-bottom-left-radius: 4px;
    padding: 2.5px 10px;
}

.alert-font-small {
    font-size: 10pt;
}

.card-body-bg {
    background-color: rgba(84, 91, 99, 0.15);
}

.auth-width {
    width: 40% !important;
}

.my-top-30 {
    top: 29px;
}